.Project {
    display: flex;
    flex-direction: column;
    height: 30rem;
    width: 22rem;
    margin: 0 2.3rem 2.3rem 2.3rem;
    text-align: center;
    background-color: #19191d;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 10px 10px #121212;
    overflow: hidden;
}

.Project img {
    height: 100%;
}

.Project .image-container {
    margin-bottom: 1rem;
}

.Project h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.project-info {
    padding: 0 10px;
}

.project-info p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.project-links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.project-links a {
    color: #f3f3f3;
    border-radius: 10px;
    padding: 2px 12px;
    background-color: #363636;
}

.project-links a:hover {
    background-color: rgb(36, 36, 36);
    top: 2px;
}

@media only screen and (max-width: 500px) {
    .Project {
        width: 95%;
        margin: 0 0rem 2.3rem 0rem;
    }
}