.Certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    margin: 0 2.3rem 2.3rem 2.3rem;
    text-align: center;
    background-color: #19191d;
    border-radius: 10px;
    border: 1px solid #000;
    box-shadow: 10px 10px #121212;
    overflow: hidden;
}

.Certificate .image-container {
    margin-bottom: 1rem;
}

.Certificate h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.certificate-info {
    padding: 0 10px;
}

.certificate-info p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 1rem;
}