.Certificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
    text-align: center;
    background-color: #19191d;
    border-radius: 10px;
    border: 1px solid #000;
    filter: drop-shadow(3px 3px 4px #000);
    overflow: hidden;
    transition: all .15s ease-in-out;
}

.certificate-link {
    color: #f8f8f8;
    margin: 0 2.3rem 2.3rem 2.3rem;
}

.Certificate:hover {
    transform: scale(1.02);
}

.Certificate .image-container {
    margin-bottom: 1rem;
}

.Certificate h2 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.certificate-info {
    padding: 0 10px;
}

.certificate-info p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 500px) {
    .Certificate {
      width: 100%;
      margin-bottom: 2.3rem;
    }

    .Certificate h2 {
        font-size: 1rem;
    }

    .certificates-container {
        width: 100%;
        margin: 4.4rem auto;
    }
}