.contact-title {
    margin-top: 128px;
    text-align: center;
}

.contact-container {
    margin: 0 auto;
    margin-top: 64px;
    width: 80%;
    max-width: 40rem;
    display: flex;
    justify-content: center;
    font-family: inherit;
    border-radius: 10px;
}

form {
    background-color: #19191d;
    box-shadow: 10px 10px #121212;
    padding: 20px;
    width: 100%;
    max-width: 40rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    border: 1px solid #000;
}

input, #message {
    background-color: #121212;
    border-radius: 12px;
    border: 0;
    color: #eee;
    font-size: 1.2rem;
    outline: 0;
    padding: 10px;
    width: 100%;
    resize: none;
    margin: 1rem 0;
  }

#email {
    height: 3rem;
}

#message {
    height: 10rem;
    font-family: inherit;
}

.submit {
    background-color: #363636;
    border-radius: 10px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.2rem;
    height: 50px;
    outline: 0;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit:hover {
    background-color: rgb(36, 36, 36);
    padding-top: 2px;
}

.contact-spinner {
    border-radius: 50%;
    width: 1.7rem;
    animation: 1.2s linear infinite spinner;
}

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}