.jumbotron {
    margin: 64px auto 0 auto; /*accomodate for height of navbar*/
    width: 80%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.j-text {
    font-size: 1.3rem;
}

.jumbotron-img {
    width: 250px;
}

.jumbotron-text {
    max-width: 700px;
}

.jumbotron-img, .jumbotron-text {
    margin: 15px;
}