.intro {
    margin: 128px auto 0 auto; /*accomodate for height of navbar*/
    width: 80%;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: fade-in ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.j-text {
    font-size: 1.3rem;
}

.intro-img {
    width: 250px;
    border-radius: 20%;
    filter: drop-shadow(3px 3px 4px #000);
}

.intro-text {
    max-width: 700px;
}

.intro-img, .intro-text {
    margin: 15px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        padding-top: 30px;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 500px) {
    .intro-img {
        width: 10rem;
    }

    .intro {
        margin-top: 64px;
    }

    .intro h1 {
        text-align: center;
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .j-text {
        text-align: center;
    }
}