.certificates-container {
    width: 80%;
    margin: 4.4rem 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.certificates-title {
    margin-top: 128px;
    text-align: center;
}