* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #f8f8f8;
  background-image: url('../src/media/background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: #f8f8f8;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.image-container img {
  width: 100%;
}

.footer {
  text-align: center;
  padding: 128px 0 3rem 0;
}
